@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-neutral-800;
  }

  body {
    @apply bg-f1black text-white font-exo antialiased;
  }

  #root {
    @apply min-h-screen flex flex-col;
  }
}
